.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body{
    padding-top:50px;
    background: #f3f3f3;
}
.navbar {
  background: #e3553c;
  position:fixed;
  top:0px;
  width: 100%;
  border: none;
  z-index: 9999;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25pt;
  font-family: 'Candal', sans-serif;
}
.main_container{
    margin: 20px auto;
    background: #fff;
    border-radius:5px;
}
h2{
  border-bottom: solid 1px #ccc;
}
h3{
  width: 100%;
}
footer{
    background: #555;
}
footer > div{
  margin: 0 auto;
  width: 80%;
}
footer .area-list {
  color: #fff;
}
footer .area-list p {
  font-weight: normal;
}
.ricoh-theta-spherical-image-wrap {
  max-width: 100%;
  margin: 20px;
  float:left;
}
@media screen and (max-width: 760px) {
  .ricoh-theta-spherical-image-wrap {
    margin:0px;
  }
}
.ricoh-theta-spherical-image-wrap {
  font-size: 15pt;
  text-align: center;
}
.ricoh-theta-spherical-image {

}
